{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <h1>Профиль студента</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>ФИО</th>
                <td>{{ student.fullName }}</td>
            </tr>
            <tr>
                <th>Группа</th>
                <td>{{ student.studyGroup }}</td>
            </tr>
            <tr>
                <th>Институт</th>
                <td>{{ student.institute }}</td>
            </tr>
            <tr>
                <th>Академический рейтинг</th>
                <td>{{ student.rating }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Мероприятия</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Уровень</th>
            <th>Баллы</th>
            <th>Статус проверки</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        {% for eventItem in events %}
            <tr>
                <td>{{ eventItem.event.level }}</td>
                <td>{{ eventItem.event.points }}</td>
                <td>{{ eventItem.status.value }}</td>
                <td>{{ eventItem.event.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Не найдено мероприятий</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="px-2 mt-2 btn btn-primary" href="{{ path('app_event_index') }}">К мероприятиям</a>
{% endblock %}
