{% extends 'base.html.twig' %}

{% block title %}Проверяющий {{ reviewer.fullName }}{% endblock %}

{% block body %}
    <h1>Проверяющий</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ФИО</th>
                <td>{{ reviewer.fullName }}</td>
            </tr>
            <tr>
                <th>Направление</th>
                <td>{{ reviewer.direction.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reviewer_events', {'id': reviewer.id}) }}" class="mt-2 btn btn-lg btn-primary">
        К мероприятиям
    </a>

    <h1>Проходящие на ПГАС:</h1>
    <a href="{{ path('app_ladder', {'type': 'sport'}) }}" class="mt-2 btn btn-lg btn-primary">
        Спорт
    </a>
    <a href="{{ path('app_ladder', {'type': 'science'}) }}" class="mt-2 btn btn-lg btn-primary">
        Научно-исследовательское
    </a>
    <a href="{{ path('app_ladder', {'type': 'people'}) }}" class="mt-2 btn btn-lg btn-primary">
        Общественное
    </a>
    <a href="{{ path('app_ladder', {'type': 'culture'}) }}" class="mt-2 btn btn-lg btn-primary">
        Культурно-развлекательное
    </a>
    <a href="{{ path('app_ladder', {'type': 'study'}) }}" class="mt-2 btn btn-lg btn-primary">
        Академическое
    </a>

    <h1>Графики:</h1>

    <a href="{{ path('app_dashboard_participation') }}" class="mt-2 btn btn-lg btn-primary">
        Мероприятия
    </a>

    <a href="{{ path('app_dashboard_student') }}" class="mt-2 btn btn-lg btn-primary">
        Студенты
    </a>
{% endblock %}
